<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>controller.Demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnQuizController</servlet-name>
        <servlet-class>Controller.ViewOwnQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOwnQuizController</servlet-name>
        <servlet-class>Controller.SearchOwnQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerachByAjax</servlet-name>
        <servlet-class>Controller.SerachByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuizDetailController</servlet-name>
        <servlet-class>Controller.ViewQuizDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlashCardController</servlet-name>
        <servlet-class>Controller.FlashCardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/DemoPattern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnQuizController</servlet-name>
        <url-pattern>/ViewOwnQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOwnQuizController</servlet-name>
        <url-pattern>/SearchOwnQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerachByAjax</servlet-name>
        <url-pattern>/SerachByAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuizDetailController</servlet-name>
        <url-pattern>/ViewQuizDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlashCardController</servlet-name>
        <url-pattern>/FlashCardController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
